mat-dialog-content{
    width: 950px;
}

.mat-grid-list {
    overflow: hidden;
}

.input{
    background-color: white;
}
button{
    border-radius: 16px;

}
.mat-action{
    margin-bottom: 25px;
    margin-left:20px
}
.property-details {
    border-right: 1px solid #ccc;
}
