<h2 style="font-weight: 700;" class="mt-3" color="primary">Property Information</h2>
<mat-card class="m-3">

  <mat-card-title class="pb-2">
    Property Name : <b>Ionic Heights</b>
  </mat-card-title>
  <mat-divider></mat-divider>

    <div class="row pt-3">
      <div class="col-md-6">
        <mat-card-content>
          <span> Location : </span> Malsi, Dehradun <br>
          <span> Owner Name : </span> Aditya <br>
          <span> Mobile : </span> 9876543210 <br>
          <span> Email : </span> aditya@test.com
        </mat-card-content>
      </div>
      <div class="col-md-6">
       <mat-card-content>
        <span> Type : </span> House <br>
        <span> Cost : </span> $6000000
       </mat-card-content>
      </div>
    </div>
</mat-card>