<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 mt-3">
            <mat-card class="add-prop text-center" (click) = "addproperty()">
                <mat-card-content>
                    <mat-icon>add_business</mat-icon><br>
                    List Property
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-6 col-md-4 mt-3">
            <mat-card class="add-prop text-center">
                <mat-card-content>
                    <mat-icon>edit_location</mat-icon><br>
                    Edit Listed Property
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>