  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-4 mt-3">
            <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'10px'">
                <mat-grid-tile>
                    <div>
                        <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="200px" width="300px" style="vertical-align: top;"><br>
                        Property 1
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
                <mat-grid-tile>5</mat-grid-tile>
                <mat-grid-tile>6</mat-grid-tile>
                <mat-grid-tile>7</mat-grid-tile>
                <mat-grid-tile>8</mat-grid-tile>
                <mat-grid-tile>9</mat-grid-tile>
                <mat-grid-tile>10</mat-grid-tile>
                <mat-grid-tile>11</mat-grid-tile>
                <mat-grid-tile>12</mat-grid-tile>
                <mat-grid-tile>13</mat-grid-tile>
                <mat-grid-tile>14</mat-grid-tile>
                <mat-grid-tile>15</mat-grid-tile>
              </mat-grid-list>
        </div>
    </div>
  </div>