mat-grid-tile {
  background: lightblue;
  border-radius: 10px;
}
 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}
mat-grid-tile p {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: bold;
}
mat-grid-tile .image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .name-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7752b7;
  padding: 10px;
  text-align: center;
  color:white;
}
