.sidenav-container {
  height: 100%;
  margin: auto;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-icon {
  margin-right: 10px;
}

.mat-list-item {
  color:#808ee0;
}

.active {
  background-color:#808ee0 !important;
  color: white !important;
  border-radius: 5px;
}

mat-sidenav {
  background: #1967c1;
  color: white;
}

a{
  margin-top: 5px;
}

.flexExpand {
  flex: 1 1 auto;
}