<div class="container" style="background-color:cornsilk;padding:20px;border-radius: 12px; border-color: black; border-style: solid ;">
  <h2 style="text-align: center;font-size: xx-large;color: rgb(93, 61, 61);font-weight: 500;">Need Help?</h2>
  <h2 style="text-align: center;font-size:large;color: rgb(93, 61, 61); font-weight: 400;">Fill the form and our support team will get back to you as soon as possible!
  </h2>


  <form [formGroup]="contactForm" class="form-group">
<mat-form-field >
  <mat-label>Your Name</mat-label>
  <input matInput matInput formControlName="name">
  <mat-error
*ngIf="contactForm.get('name')?.invalid || contactForm.get('cost')?.dirty || contactForm.get('name')?.touched">Enter Valid Name</mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Your Email</mat-label>
  <input matInput formControlName="email">
  <mat-error
*ngIf="contactForm.get('name')?.invalid || contactForm.get('cost')?.dirty || contactForm.get('name')?.touched">Enter Valid Email</mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Subject</mat-label>
  <mat-select matInput formControlName="subject">
    <mat-option value="Technical Issue">Technical Issue</mat-option>
    <mat-option value="Account Issue">Account Issue</mat-option>
    <mat-option value="Payment Issue">Payment Issue</mat-option>
    <mat-option value="General Enquiry">General Enquiry</mat-option>
    <mat-option value="Other">Other</mat-option>
  </mat-select>
  <mat-error
*ngIf="contactForm.get('name')?.invalid || contactForm.get('cost')?.dirty || contactForm.get('name')?.touched">Subject is required</mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Message</mat-label>
  <textarea matInput formControlName="message"></textarea>
  <mat-error
*ngIf="contactForm.get('name')?.invalid || contactForm.get('cost')?.dirty || contactForm.get('name')?.touched">Message is required</mat-error>
</mat-form-field>
<button type="reset" mat-raised-button color="primary" [disabled]="contactForm.invalid" (click)="submitData(contactForm.value)" style="color: white;">Send Message</button>

<p *ngIf="isSubmit" class="submitMessage">{{submitMessage}}</p>
</form>
</div>
